/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --title-text-weight: 715;
  --main-text-weight: 410;
  --press2-text-weight: 400;
  --gradient-horizontal: repeating-linear-gradient(
    0deg,
    #d3d3d3 0px,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  );
  --gradient-vertical: repeating-linear-gradient(
    90deg,
    #d3d3d3 0px,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  );
  --gradient-darken: linear-gradient(#e7e7e7 0%, #e7e7e7 1%, #1a1a1a 100%);
  --standart-width: clamp(375px, 200vw, 700px);
  --standart-height: clamp(327px, 80vw, 368px);
  --title-font-size: clamp(3.0625rem, 4vw, 4.0625rem);
  --decription-font-size: clamp(0.875rem, 4vw, 1.3475rem);
  --card-height-desktop: 30px;
  --card-height-mobile: 52px;
  --text-stroke-color: #ffffff;
  --button-font-color: white;
  --accent-color: #000000;
  --contour-color: black;
  --sparks-color: #ff0000;
}
